* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
}

.cuerpo::-webkit-scrollbar {
  -webkit-appearance: none;
}

.cuerpo::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 15px;
  border: 3px solid #f1f2f3;
}

.main__titulo{
  background: linear-gradient(
    109.6deg,
    rgba(62, 161, 219, 1) 11.2%,
    rgba(93, 52, 236, 1) 100.2%
  );
}

main {
  background-image: linear-gradient(
    109.6deg,
    rgba(62, 161, 219, 1) 11.2%,
    rgba(93, 52, 236, 1) 100.2%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

.mainCard {
  border-radius: 25px;
  background-color: #fff;
  padding: 25px;
}

.title {
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
}

.inputForm {
  border: none;
  padding: 10px;
  border: 1px solid #eee;
  outline: none;
  width: 45%;
}

.inputForm::placeholder {
  padding: 0px;
}

.btnCreate {
  padding: 10px 15px;
  background-image: linear-gradient(
    109.6deg,
    rgba(62, 161, 219, 1) 11.2%,
    rgba(93, 52, 236, 1) 100.2%
  );
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.cardsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 60vh;
  height: 60vh;
}

.card {
  width: 90%;
  padding: 15px;
  box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.16);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 5px 0px;
  position: relative;
}

.task {
  padding: 10px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: rgba(62, 161, 219, 1);
}

.completeIcon {
  color: rgba(62, 161, 219, 1);
}

.trashIcon:hover {
  color: #f00;
}

.deleteConfirmationPop {
  position: relative;
  background-color: rgba(255, 255, 255);
  z-index: 99;
  width: 100%;
  top: -100px;
  left: 0;
}
.deleteSpace {
  position: relative;
  width: 30%;
}

.noTasks {
  font-size: 48px;
}

.date{
  width: 100%;
  padding:  15px;
  font-weight: bold;
}

.pie__pagina{
  align-items: center;
  background-image: linear-gradient(
    109.6deg,
    rgba(62, 161, 219, 1) 11.2%,
    rgba(93, 52, 236, 1) 100.2%
  );
  color: #f8f9fa;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: .5rem 1rem;
}

.footer__autor{
  font-weight: bold;
}

.footer__imagen{
  width: 30px;
  height: 30px;
  padding-left: 6px;
}

/*----RESPONSIVE----*/

/*PC*/
@media screen and (min-width: 768px) and (max-width: 1600px) {
  .titulo{
    padding-top: .8rem;
    padding-left: 4rem;
  }
  .titulo__name{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: #f1f2f3;
  }
  .mainCard{
    width: 42vw;
  }
  
}

/*Tablet*/
@media screen and (min-width: 481px) and (max-width: 767px) {
  .titulo{
    padding-top: .8rem;
    width: 100%;
  }
  .titulo__name{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: #f1f2f3;
    text-align: center;
    align-items: center;
  }
  .mainCard{
    width: 68vw;
  }
  .formulario{
    flex-wrap: wrap;
  }
  .inputForm{
    border-radius: 7px;
    width: 100%;
    margin-bottom: 1rem;
  }
  .input__date{
    width: 60%;
    margin-left: .5rem;
    align-items: center;
  }
  .btnCreate{
    margin-right: .5rem;
  }
  .pie__pagina{
    justify-content: space-around;
    padding: 1rem .5rem;
  }
  .footer__imagen{
    width: 26px;
    height: 26px;
    padding-left: 5px;
  }
}     

/*Mobile*/
@media screen and (min-width: 0) and (max-width: 480px) {
  .titulo{
    padding-top: .8rem;
    width: 100%;
  }
  .titulo__name{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: #f1f2f3;
    text-align: center;
    align-items: center;
  }
  .mainCard{
    width: 75vw;
  }
  .formulario{
    flex-wrap: wrap;
  }
  .inputForm{
    border-radius: 7px;
    width: 100%;
    margin-bottom: 1rem;
  }
  .input__date{
    width: 50%;
    margin-left: .5rem;
    align-items: center;
  }
  .btnCreate{
    margin-right: .5rem;
  }
  .pie__pagina{
    justify-content: space-around;
    padding: 1rem .5rem;
  }
  .footer__autor{
    font-size: 14px;
  }
  .footer__imagen{
    width: 22px;
    height: 22px;
    padding-left: 5px;
  }
}